html, body {
	background: #CCCCFF; /* Beccapurple */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Courier New', monospace;
	color: rgb(107, 107, 132);
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}

h1{
	font-size: 3.0rem;
	
}
h2{
	font-size: 2.5rem;
}
h3{
	font-size: 2.0rem;
}

p {
	margin-bottom: 1em;
	color: black;
	font-family: 'Times New Roman', serif;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}

pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
ul{
	font-family: 'Times New Roman', serif;
}
dt {
	font-family: 'Times New Roman', serif;
	font-size:1.2em;
	background-color: white;
	color:black;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

dd {
	margin-bottom: 1.4em;
	font-family: 'Times New Roman', serif;
}

header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}



footer {
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	background-color: white;
}


/*Changes made by me*/
/*The two section elements differ in backgrounds. This is used to create a styling them throughout the whole page*/
.section1{
	background-color: #663399;
	color:white;

}

.section1 p{
	color: white;
}

.section1 h3 {
	color: white;
	
}

.section1 h2 {
	color: white;
	
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.row{
	display:flex;
	box-sizing: border-box;
	position: relative;

}

.column1 {
	flex: auto;
	padding: 20px;
	height: auto; 
	background-color: #663399;
	color: white;
	
  }

.column2{
	flex: auto;
	padding: 20px;
	height: auto; 
	background-color: white;
	color:black;
}
section{
	padding:10px;
}
/* The following ul is used for creating the nav bar. I named in "navBar" becuase I use different unordered lists throughout the entire web page.
Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active
*/

ul.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	background-color: #CCCCFF;
  }
  
  li.navBarElement {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #CCCCFF;
	color:yellow;
	
  }
  
  li a.active {
	color: white;
	background-color: #04AA6D;
  }